-# .flash-box
-#   グループを作成しました

.wrapper
  .chat-side
    = render 'devise/shared/side_bar'
    -#左側(header/groupsの部分テンプレート)
  -# .chat-main
  -#   .main-header
  -#     .main-header__left-box
  -#       .main-header__left-box__current-group
  -#         GROUP A
  -#       %ul.main-header__left-box__member-list
  -#         Member : 
  -#         %li.main-header__left-box__member-list__member
  -#           大庭貫治
  -#     .main-header__edit-btn
  -#       =link_to 'Edit', edit_group_path(current_user)
    -# .messages
    -#   = render 'messages/message'
      -# .message
      -#   .message__upper-info
      -#     %p.message__upper-info__talker
      -#       大庭貫治
      -#     %p.message__upper-info__date
      -#       2019/07/10
      -#   %p.message__text
      -#     こんにちは
    -# .form
    -#   %form.new_message#new_message{action: "/groups/2229/messages", enctype: "multipart/form-data", method: "post"}
    -#     %input{name: "utf8",type: "hidden", value: ""}/
    -#     %input{name: "authenticity_token",type: "hidden", value: ""}/
    -#     .input-box
    -#       %input.input-box__text#message__content{type: "text", value: "type a message", placeholder: "type a message", name: "message[content]"}/
    -#       %label.input-box__image{for: "message_image"}/
    -#       =fa_icon "image", id: "message_image"
    -#       %input.input-box__image__file#message_image{type: "file", name: "message[image]"}/
    -#     %input.submit-btn{type: "submit", value: "Send" ,name: "commit", data: "Send" }/
          